# Generación estática blog
sphinx
ablog

# Tema y componentes
pydata-sphinx-theme
sphinx-design
sphinx-copybutton

# Mostrar Youtube
sphinxcontrib-youtube

# Metadatos para compartir en redes
sphinxext-opengraph
matplotlib
sphinx-sitemap

# Soporte de Markdown y Notebook
myst-parser
jupyterlab
jupyterlab_myst
myst-nb
