# Generación estática blog y tema
sphinx
ablog
pydata-sphinx-theme

# Componentes
sphinx-design
sphinx-copybutton
sphinx-tippy
sphinxcontrib-youtube

# Metadatos para compartir en redes
sphinxext-opengraph
matplotlib
sphinx-sitemap

# Soporte de Markdown y Notebook
myst-parser
jupyterlab
jupyterlab_myst
myst-nb
