rel=me github

pr a pydata

https://github.com/cosmoscalibur/cosmoscalibur.github.io/commit/021593d91d7e2c92a311690b824e27fe6e5cea1b
