{% extends "!layout.html" %}

{{ super() }}

{% block extrahead %}
<!-- Usado para mostrar publicidad -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0356238418278924"
    crossorigin="anonymous"></script>

<!-- Usado para el consentimiento informado -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFTNBBFR');</script>
    <!-- End Google Tag Manager -->
<script>
    // Define dataLayer and the gtag function.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    // IMPORTANT - DO NOT COPY/PASTE WITHOUT MODIFYING REGION LIST
    // Set default consent for specific regions according to your requirements
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied',
        'regions':['ES', 'GB', 'IT', 'FR']
    });
    // Set default consent for all other regions according to your requirements
    gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied'
    });
    </script>
<!-- Start cookieyes banner -->
<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/def09683a077cca9106c50c0/script.js"></script>
<!-- End cookieyes banner -->
 <!-- Final Consentimiento informado -->
{% endblock %}